body {
  font-family: Arial, sans-serif;
  background-color: #c2ffc1c5;
  margin: 0;
  padding: 75px;
}

.container {
  background-color: rgba(255, 255, 255, 0.686);
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
}

.top-heading {
    color: rgb(13, 133, 2);
}

h1 {
  color: green;
  font-size: 36px;
  margin-bottom: 5px;
}

h2 {
  color: green;
  font-size: 30px;
  margin-top: 0;
}

ul { 
  line-height: 1.5;
  padding-left: 20px; 
}

ul ul {
  line-height: 1.5;
  margin-top: 8px;
}
p {
    line-height: 1.5;
    margin-bottom: 10px;
}

.profile {
    max-width: 300px;
    margin-top: 2px;
}

.small-image {
  max-width: 50px;
  margin-top: 15px;
  border-radius: 4px;
}

section {
  margin-bottom: 20px;
}

